project: g40
queue: normal
walltime: 06:00:00
jobname: mom6_panan_01
ncpus: 962
jobfs: 10GB

shortpath: /scratch/x77

model: mom6
input:
    - /g/data/x77/ahg157/inputs/mom6/panan-01/
    - /g/data/ik11/inputs/mom6/regrid_runoff/
    - /g/data/ua8/JRA55-do/RYF/v1-3/
exe: /g/data/x77/ahg157/exes/MOM6_SIS2/symmetric_FMS2-e7d09b7

collate: false
#runlog: true
storage:
  gdata:
    - ua8
    - x77
    - ik11

platform:
  nodesize: 48

mpi:
  module: openmpi/4.0.3

userscripts:
   archive: qsub sync_output_to_gdata.sh
